<h1>Delete Blog Post</h1>
<br />
<br />
<h3>Delete {{post.title}}</h3>
<form method="POST">
  {% csrf_token %} <strong>Are you sure?</strong> <button>Delete</button>
</form>
<a href="{% url 'home' %}">Back</a>
