<h1>Blog</h1>
<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'post-detail' post.pk %}">{{post.title}}</a> -
    {{post.author.first_name}} {{post.author.last_name}} | {{post.date}}
    <small
      ><a href="{% url 'update-post' post.pk %}">Edit</a>
      <a href="{% url 'delete-post' post.pk %}">Delete</a></small
    >
    <br />
    {{post.body}}
  </li>
  {% endfor %}
</ul>
<a href="{% url 'add-post' %}">Add Post</a>
