<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}} {{post.author.last_name}} </small> |
<small>{{post.date}}</small>
<small><a href="{% url 'update-post' post.pk %}">Edit</a></small>
<hr />
<br />
{{post.body}}

<br />
<br />
<a href="{% url 'home' %}">Back</a>
